# Ignore bundler config.
/.bundle

/log/*.log
/tmp
database.yml
doc/
*.swp
*~
.project
.idea
.secret
.DS_Store
config/database.yml
/vendor/bundle
*.log
tmp
tmp/**/*
.rspec

# Public Uploads
public/system/*
public/themes/*
public/assets

# Public Cache
public/javascripts/cache
public/stylesheets/cache

# Vendor Cache
vendor/cache

#Ruby Mine
.idea

# Windows
Thumbs.db

# sass
.sass-cache
.sass-cache/*
*.sassc

#rvm
.rvmrc
.rvmrc.*

# Heroku
.env
# Ignore application configuration
/config/application.local.yml